/* NewRoomForm.css */

.new-room-form {
	display: flex;
	flex-direction: column;
	gap: 16px; /* 各フォーム要素の縦の間隔を確保 */
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group label {
	margin-bottom: 4px;
}

/* ボタンをセンタリング */
.button-container {
	display: flex;
	justify-content: center;
	margin-top: 16px; /* ボタンと他の要素の間に追加のマージンを設定 */
}

.button-container {
	display: flex;
	gap: 8px; /* ボタン間の間隔を設定します */
}
